.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    background: rgba(0, 0, 0, 0.3);
}

.modalContent {
    padding: 25px;
    color: teal;
    background: #fff;
    border-radius: 16px;
    min-width: 250px;
    max-width: 100%;
    box-shadow: 0 4px 10px rgb(0, 128, 128, 0.5); /* Легкая тень для эффекта всплытия */
}

.modal.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

